{% extends "layout.html" %}
{% block post_body %}

<script type="text/javascript">

    var targets = {{ targets|safe }};
{#    var keyorder = ["host"];#}
{#    keyorder.concat({{ const_keyorder|safe }});#}
    const const_keyorder = {{ const_keyorder|safe }};
{#    const const_keyorder = {{ const_keyorder|safe }}.concat("del");#}

    var render = function () {

        var selec = d3.select("div.content")
                .selectAll("table")
                .data(Array(targets))
                .enter()
                .append("table").attr("class", "pure-table pure-table-bordered")
                .style("margin", "50px");

        selec = d3.select("div.content table");

        selec
                .selectAll("thead")
                .data(Array(targets))
                .enter()
                .append("thead");

        selec
                .selectAll("tbody")
                .data(Array(targets))
                .enter()
                .append("tbody");

        selec
                .select("div.content table thead")
{#                .select("thead")#}
                .selectAll("th")
                .data(const_keyorder)
                .enter()
                .append("th")
                .text(function (d) {
                    return d.charAt(0).toUpperCase() + d.slice(1);
                });

        selec
                .select("tbody")
                .selectAll("tr")
                .data(d3.keys(targets))
                .enter()
                .append("tr")
                .attr("id", function(d){
                    return d;
                });

        selec
                .select("tbody")
                .selectAll("tr")
                .data(d3.keys(targets))
                .exit()
                .remove();

        selec
                .select("tbody")
                .selectAll("tr")
                .data(d3.keys(targets))
                .attr("id", function (d) {
                    console.log(d);
                    return d;
                });

        d3.select("div.content")
                .selectAll("table")
                .data(Array(targets))
                .exit()
                .remove();

        for (var targ in targets) {

{#            console.log(targ)#}
{#            selec#}
{#                    .select("tbody")#}
{#                    .selectAll("tr")#}
{#                    .data(Array(targets[targ]))#}
{#                    .enter()#}
{#                    .append("tr")#}
{##}
{#                                selec#}
{#                                        .select("tbody")#}
{#                                            .selectAll("tr")#}
{#                    .select("tr")#}
            selec = d3.select("div.content table tbody");
{#                    .select("tbody");#}

            selec
                    .select('tr[id="' + targ + '"]')
                    .selectAll("td")
                    .data(ordered_values(targets[targ], const_keyorder))
                    .enter()
                    .append("td");

            selec
                    .select('tr[id="' + targ + '"]')
                    .selectAll("td")
                    .data(ordered_values(targets[targ], const_keyorder))
                    .style("font-size", "inherit")
                    .text(function (d) {
                        return d;
                    });

            selec
                    .select('tr[id="' + targ + '"]') // conrresponding data is 'host'
                    .selectAll("input.enabledisable")
                    .data(Array(targets[targ]["enabled"]))
                    .enter()
                    .append("input")
                    .attr("class", "pure-button enabledisable")
                    .style("background-color", "darkgray")
                    .attr("type", "button");

            selec
                    .select('tr[id="' + targ + '"]') // conrresponding data is 'host'
                    .selectAll("input.enabledisable")
                    .data(Array(targets[targ]["enabled"]))
                    .attr("value", function(d){
                        if(d){
                            return "Disable";
                        } else {
                            return "Enable";
                        };
                    })
                    .style("background-color", function(d){
                        if(d){
                            return "darkgray";
                        } else {
{#                            return "darkolivegreen";#}
                            return "cornflowerblue";
                        };
                    })
                    .on("click", function(d){
                        var targ_id = this.parentNode.id;
{#                        console.log(! d);#}
                        targets[targ_id]["enabled"] = ! d;
                        render();
                    });

            selec
                    .select('tr[id="' + targ + '"]') // conrresponding data is 'host'
                    .selectAll("input.delbutton")
                    .data(Array(targ))
                    .enter()
                    .append("input")
                    .attr("class", "pure-button delbutton")
                    .attr("type", "button")
                    .attr("value", "Delete")
                    .on("click", function(){
                        var targ_id = this.parentNode.id;
                        console.log(targ_id);
                        delete targets[targ_id];
                        console.log(targets);
                        render();
                    });

        };
    };

    var ordered_values = function (dict, key_order) {
        var val_order = [];
        for (var k in key_order) {
            var key = key_order[k];
            var val = dict[key];
            val_order.push(val);
        };
        return val_order;
    };

    var onclick_test = function (d) {
        console.log(d);
    };

    render();

</script>

{% endblock %}