{% extends "layout.html" %}
{% block post_body %}

<script type="text/javascript">

    var targets = {{ targets|safe }};
    const const_keyorder = {{ const_keyorder|safe }};

    var render = function () {

        var selec = d3.select("div.content")
                .selectAll("div")
                .data(Array(const_keyorder))
                .enter()
                .append("div")
                .attr("class", "form-div");
{#                .attr("class", "pure-form pure-form-aligned")#}
{#                .append("fieldset");#}

        selec = d3.select("div.content div.form-div")
                .selectAll("form")
                .data(Array(const_keyorder))
                .enter()
                .append("form")
                .attr("class", "pure-form pure-form-aligned")
                .append("fieldset");
{#                .style("border", "#969696 solid 2px");#}

        selec = d3.select("div.content div.form-div form fieldset");
        selec
                .selectAll("div")
                .data(const_keyorder)
                .enter()
                .append("div")
                .attr("class", "pure-control-group")
                .attr("id", function(d){
                    return "form_" + d;
                });

        for (var idx in const_keyorder) {

            var colname = const_keyorder[idx];
{#            console.log(const_keyorder);#}
            console.log(colname);

            selec = d3.select("div.content div.form-div form fieldset")
                    .select('div.pure-control-group[id="form_' + colname + '"]');
            selec
                    .selectAll("label")
                    .data(Array(colname))
                    .enter()
                    .append("label")
                    .attr("for", function (d) {
                        return d;
                    })
                    .text(capitarize);
            selec
                    .selectAll("input")
                    .data(Array(colname))
                    .enter()
                    .append("input")
                    .attr("id", colname)
                    .attr("type", "text");

        };

        selec
                .selectAll("div.pure-control-group")
                .data(const_keyorder)
                .exit()
                .remove();

        selec = d3.select("div.content div.form-div");
{#                .selectA("");#}
        selec
                .selectAll("div.change-div")
                .data(Array(targets))
                .enter()
                .append("div")
                .attr("class", "change-div");

        selec = d3.select("div.content div.form-div")
                .select("div.change-div");
        selec
                .selectAll("input")
                .data(["submit", "revert"])
                .enter()
                .append("input")
                .attr("class", "pure-button enabledisable")
                .style("background-color", function(d){
                    if(d == "submit"){
                        return "blue";
                    } else {
                        return "red";
                    }
                })
                .attr("type", "button")
                .attr("value", capitarize)
                .on("click", submit_or_revert);
{#        selec#}
{#                .selectAll("input")#}
{#                .data(Array(const_keyorder))#}
{#                .enter()#}
{#                .append("input")#}
{#                .attr("class", "pure-button enabledisable")#}
{#                .style("background-color", "red")#}
{#                .attr("type", "button")#}
{#                .attr("value", "revert");#}


        selec = d3.select("div.content")
                .selectAll("table")
                .data(Array(targets))
                .enter()
                .append("table")
                .attr("class", "pure-table pure-table-bordered");

        selec = d3.select("div.content table");
        selec
                .selectAll("thead")
                .data(Array(targets))
                .enter()
                .append("thead");

        selec
                .selectAll("tbody")
                .data(Array(targets))
                .enter()
                .append("tbody");

        selec
                .select("div.content table thead")
                .selectAll("th")
                .data(const_keyorder)
                .enter()
                .append("th")
                .text(capitarize);

        selec
                .select("tbody")
                .selectAll("tr")
                .data(d3.keys(targets))
                .enter()
                .append("tr")
                .attr("id", function(d){
                    return d;
                });

        selec
                .select("tbody")
                .selectAll("tr")
                .data(d3.keys(targets))
                .exit()
                .remove();

        selec
                .select("tbody")
                .selectAll("tr")
                .data(d3.keys(targets))
                .attr("id", function (d) {
                    console.log(d);
                    return d;
                });

        for (var targ in targets) {

            selec = d3.select("div.content table tbody");

            selec
                    .select('tr[id="' + targ + '"]')
                    .selectAll("td")
                    .data(ordered_values(targets[targ], const_keyorder))
                    .enter()
                    .append("td");

            selec
                    .select('tr[id="' + targ + '"]')
                    .selectAll("td")
                    .data(ordered_values(targets[targ], const_keyorder))
                    .style("font-size", "inherit")
                    .text(function (d) {
                        return d;
                    });

            selec
                    .select('tr[id="' + targ + '"]') // conrresponding data is 'host'
                    .selectAll("input.enabledisable")
                    .data(Array(targets[targ]["enabled"]))
                    .enter()
                    .append("input")
                    .attr("class", "pure-button enabledisable")
                    .style("background-color", "darkgray")
                    .attr("type", "button");

            selec
                    .select('tr[id="' + targ + '"]') // conrresponding data is 'host'
                    .selectAll("input.enabledisable")
                    .data(Array(targets[targ]["enabled"]))
                    .attr("value", function(d){
                        if(d){
                            return "Disable";
                        } else {
                            return "Enable";
                        };
                    })
                    .style("background-color", function(d){
                        if(d){
                            return "darkgray";
                        } else {
{#                            return "darkolivegreen";#}
                            return "cornflowerblue";
                        };
                    })
                    .on("click", function(d){
                        var targ_id = this.parentNode.id;
{#                        console.log(! d);#}
                        targets[targ_id]["enabled"] = ! d;
                        render();
                    });

            selec
                    .select('tr[id="' + targ + '"]') // conrresponding data is 'host'
                    .selectAll("input.delbutton")
                    .data(Array(targ))
                    .enter()
                    .append("input")
                    .attr("class", "pure-button delbutton")
                    .attr("type", "button")
                    .attr("value", "Delete")
                    .on("click", function(){
                        var targ_id = this.parentNode.id;
                        console.log(targ_id);
                        delete targets[targ_id];
                        console.log(targets);
                        render();
                    });

        };
    };

    var ordered_values = function (dict, key_order) {
        var val_order = [];
        for (var k in key_order) {
            var key = key_order[k];
            var val = dict[key];
            val_order.push(val);
        };
        return val_order;
    };

    var capitarize = function (d) {
        return d.charAt(0).toUpperCase() + d.slice(1);
    };

    var submit_or_revert = function (d) {
        if (d == "submit") {
            return "blue";
        } else {
            console.log("revert was called");
            d3.json("http://localhost:5000/targets", function (jdata) {
                targets = jdata;
            });
        };
{#        console.log("revert_target() was called");#}
{#        d3.json("http://localhost:5000/targets", function (jdata) {#}
{#            targets = jdata;#}
{#        });#}
        render();
    };


    render();

</script>

{% endblock %}