<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Graphical ICMP monitoring tool inspired by 'deadman' tool">

    <title>Watchman</title>
        <!--<link rel="stylesheet" href="{{ url_for('static', filename='pure-min.css') }}">-->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='d3.js') }}"></script>
        <!--<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.2.min.js') }}"></script>-->
    </head>
    <body>
        <div class=page>
          <h1>NwVisual</h1><br/>
          <!--{% block body %}{% endblock %}-->
        </div>
    </body>
    {% block post_body %}{% endblock %}
</html>