<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Graphical ICMP monitoring tool inspired by 'deadman' tool">

    <title>Watchman</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pure-min-custum.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='side-menu.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='d3.js') }}"></script>
</head>
<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">Menu</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/main" class="pure-menu-link">Monitoring</a></li>
                <li class="pure-menu-item"><a href="/config" class="pure-menu-link">Configuration</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>Watchman</h1>

            <h2>Graphical ICMP Monitoring Tool</h2>

            <figure>
                <div class="pure-u-1-12">
                    <img class="pure-img-responsive" src="{{ url_for('static', filename='nightawl_min.png') }}"
                         alt="nightawl">
                </div>
            </figure>

            <div class="button-div">
                <input class="pure-button restart" type="button" value="Restart" id="restart">
            </div>

        </div>
        <script>

            var rpc_restart = function () {
                var endp_url = "/_restart";
                var post_data = {"command":"restart"};

                d3.json(endp_url, function (error, data) {
                    if (error) {
                        console.log(error);
                    } else {
                        console.log(data);
                        window.location = "/main";
{#                        window.location.reload();#}

                    }
                })
                        .header("Content-Type", "application/json")
                        .send("GET");
{#                        .send("POST", JSON.stringify(post_data));#}
            };

            d3.select("div.header div.button-div input#restart")
                    .on("click", rpc_restart);

        </script>

        <div class="content">
            {% block body %}{% endblock %}
        </div>

    </div>
</div>
</body>
{% block post_body %}{% endblock %}
</html>