{% extends "layout.html" %}
{% block post_body %}
    <script type="text/javascript">

        var get_name = function(d){
            return d["name"];
        };

        var render = function() {
//            var map_scores = [];

        d3.json("http://localhost:5000/queues", function(results) {

                d3.select("body div.page").selectAll("div.box")
                        .data(results)
                        .enter()
                        .append("div").attr("class", "box")
                            .attr("id", get_name)
                            .append("span");

                d3.select("body div.page").selectAll("div.box")
                        .data(results)
                        .exit().remove();


                d3.select("body div#" + res["name"]).selectAll("div.v-bar")
                        .data(results["results"])
                        .enter()
                        .append("div.v-bar");

                d3.select("body div#" + res["name"]).selectAll("div.v-bar")
                        .data(results["results"])
                        .style("height", function(d){
                            return (d * 3) + "px";
                        });

                d3.select("body div#" + res["name"]).selectAll("div.v-bar")
                        .data(results["results"])
                        .exit()
                        .remove();
//
//                for (var idx in results) {
//                    var res = results[idx];
//
//                    d3.select("body div.page").selectAll("div.box")
//                        .data(res["name"])
//                        .enter()
//                        .append("div").attr("class", "box")
//                            .attr("id", res["name"])
//                            .append("span");
//
//                    d3.select("body div.page").selectAll("div.box")
//                            .data(res["name"])
//                            .exit().remove();
//
//
//                    d3.select("body div#" + res["name"]).selectAll("div.v-bar")
//                            .data(res["results"])
//                            .enter()
//                            .append("div.v-bar");
//
//                    d3.select("body div#" + res["name"]).selectAll("div.v-bar")
//                            .data(res["results"])
//                            .style("height", function(d){
//                                return (d * 3) + "px";
//                            });
//
//                    d3.select("body div#" + res["name"]).selectAll("div.v-bar")
//                            .data(res["results"])
//                            .exit()
//                            .remove();

//                    d3.select("body").selectALL("div.v-bar")
//                            .data(res["results"])
//                            .exit()
//                            .remove();

//                    d3.select("div.page").append("ul").text(results[idx]["idx"] + " : " + results[idx]["results"]);
//                };

//                d3.select("div.page").selectALL("div.v-bar")
//                        .data(results)
//                        .enter()
//                        .append("div").attr("class", "v-bar").append("span");
//
//                d3.select("div.page").selectALL("div.v-bar")
//                        .data(results)
//                        .style("height", function(d){
//                            return d[""]
//                        });

//                for (var idx in data) {
//                    d3.select("div.page").append("ul").text(data[idx]["idx"] + " : " + data[idx]["results"]);
//                };
//                d3.select("div.page").append("ul").text(data["0"]["results"]);
//                map_scores.push(data);
//            d3.json("http://localhost:5000/queues", function(name, value) {
//                    d3.select("div.page").selectAll("div")
//                            .data(name).enter()
//                            .append("div").attr("id", name).text(name).append("span");
//                            .append("div").attr("clss", "v-bar").text(name).append("span");
            });
        };

        render();

        setInterval(render, 1000);
    </script>
{% endblock %}